.globalImageDisplay {
    display:flex;
    flex-flow:row wrap;
    justify-content:flex-start;
    width:100%;
    max-width:1200px;
    height:800px;
    box-shadow:0 0 1px #000;
    margin:0 auto;
}

.image--hover {
    display: inline-flex;
    flex: 1 auto;
    flex-shrink:0.2;
    height: auto;
     transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    background-size:cover;
    box-shadow:-1px 0 1px #000;
}

.image--hover:hover{
    flex-grow:8;
}

.background--overlay .image--overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.3);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}